body {
    background-color: #1d2630;
    color: white;
}

#root {
    align-items: center;
    padding: 100px;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px white solid;
}

input {
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    width: 100%;
}
